/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* INDEX STYLE */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
/* Variable */
.container{
    max-width: 1000px;
    margin: 0 auto;
    width:100%; 
    padding: 0 20px;
}
/* FLEX BOXES */
.flex{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-start{
    display: flex;
    align-items: flex-start;
}
.align-end{
    display: flex;
    justify-content: flex-end;
}
.flex-40{
    flex: 0 1 40%;
}
.flex-60{
    flex: 0 1 60%;
}
.flex-45{
    flex: 0 1 45%;
}
/* INDEX STYLE */
.hero{
    background: url(../media/bg-intro-desktop.png) center center no-repeat;
    background-size: cover;
    padding: 100px 0;
    margin:100px 100px;
    background-color: #FF7978;
}
h1{
    font-size: 43px;
    font-weight: 900;
    /* text-transform:lowercase; */
    color: #FEFFFF;
    margin-bottom: 30px;
}
.article p{
    font-size: 13px;
    text-transform: capitalize;
    color: #FEFFFF;
    line-height: 1.5;
}
.blue-div{
    background-color: #5D54A3;
    display: flex;
    padding: 16px;
    border-radius: 6px;
    text-transform: capitalize;
    margin-bottom: 24px;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color:#fff;
}
.bold{
    font-weight: 800;
    text-align: center;
}
.blue-div h2 {
    text-align: center;
}
.blue-div p{
    text-align: center;
}
form{
    max-width: 1000px;
    margin: 0 auto;
    background-color:#FFFFFF;
    padding: 36px;
    border-radius: 8px;
}
.form-control{
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    padding: 16px 12px;
    border-radius: 4px;
    text-transform: capitalize;
    margin-bottom: 24px;
    border: 0;
    border: 1px solid grey;
}
h2{
  margin: 0 auto;
  color: #fff;
}
b{
    align-items: center;
    font-weight: 600;
}
button{
    width: 100%;
    background-color: #37CC8A;
    padding: 12px 12px;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: 0;
}
h3{
    font-size: 8px;
    color: #CCC9DA;
    text-align: center;
    margin-top: 10px;
}
strong{
    color: #FF7978;
    font-weight: 800;
    text-transform: capitalize;
}