/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* INDEX STYLE */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background-color: #E6E6E6;
}
/* Variable */
.root{
    --bg: #efefef;
    --text: #393939;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    width:100%; 
    /* padding: 40px 0; */
    /* border: 2px solid red; */
}
.padding{
    padding: 40px;
}
/* FLEX-BOX */
.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.align-center-horizontal{
    display: flex;
    align-items: center;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-between{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.column{
    flex-direction: column;
}
/* HEADER STYLE */
.header{
    background-color: #FFFFFF;
}
.nav-bar{
    text-transform: capitalize;
}
ul a{ 
    text-decoration: none;
    margin-left: 10px;
    color: #6D6D6D;
    font-weight: 800;
}
strong{
    font-size: 29px;
    font-weight: 900;
}
.active{
    color:#7ECDC3;
}
/* HERO SECTION */
.hero{
    background: linear-gradient(to right, #0D0704, rgba(255, 255, 255,0.2)), url(../media/banner.jpg) center center no-repeat;
    background-size: cover;
    padding: 100px 0;
    /* height:100vh; */
}
h1{
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    text-transform: capitalize;
}
.small-circle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width:6px;
    height:6px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 50%;
}
.big{
    width: 12px;
    height: 12px;
}
.hero-para{
    text-align: center;
    text-transform: capitalize;
    color:#fff;
    font-size: 16px;
}
.angle-down-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width:32px;
    height:32px;
    border-radius: 50%;
    background-color: #69C6BA;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 10px;
}
.angle-down-circle i{
   color:#fff;
}
/* CHECK AVALABILTY */
form{
    background-color: #ffff;
    max-width: 700px;
    margin: 0 auto;
    padding: 32px;
    margin-top: 60px;
}
.item-start{
    align-items: flex-start;
}
.flex-46{
    flex: 0 1 46%;
}
label{
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}
.form-control{
    display: inline-block;
    width: 100%;
    border:0;
    outline: 0;
    padding: 10px 16px;
}
.check-availability{
    background-color: #F5F5F5;
    margin: 60px 0;
}
.check-availability h3{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--text);
}
/* OUR-PRIORITY SECTION */
.our-priority{
    background-color: #EFEFEF;
}
.our-priority h2{
  font-size:32px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text)
}
.our-priority p{
    font-size: 12px;
    text-align: center;
    margin: 20px 0;
}
.btn{
    font-size: 12px;
    padding: 12px 20px;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: none;
    outline: 0;
    border: 0;
    display: inline-block;
    background-color: #69C6BA;
    margin: auto 0;
}
/* EUROPE ARTICLE */
.background-color{
    background-color: #ffffff;
}
.article-img{
   width:50%;
   position: relative;
   font-size: 0;
}
.article-img img{
    width:100%;
}
.square-chevron{
    width:50px;
    height:50px;
    display: inline-block;
    background-color: rgba(255,255,255,0.6);
}
.article{
    width:500px;
}
.europe-para{
    background-color: #69C6BA;
}
.europe-btn{
    background-color: #fff;
    color:#69C6BA;
}
.white-circle{
    width:32px;
    height:32px;
    background-color: #fff;
    border-radius: 50%;

}
.europe{
    position: absolute;
    left:40%;
}
.article h4{
   font-size: 26px;
   font-weight: 400;
   text-transform: capitalize;
   color: #fff;
}
.article p{
    font-size: 10px;
    text-transform: capitalize;
    color: #fff;
    margin:8px 0;
}
/* ASIA ARTICLE */
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.asia{
    position: absolute;
    right:40%;
}
.asia-para{
   background-color: #C66995;
}
.asia-btn{
    background-color: #fff;
    color: #C66995;
}
/* AMERICA ARTICLE */
.america{
    position: absolute;
    left:40%;
}
.america-para{
    background-color:#69C6BA;
}
.america-btn{
    background-color: #fff;
    color: #69c6ba;
}
/* CONTINENT  */
.continent{
    background-color: #69C6BA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:0;
}
.continent p{
    text-align: center;
    font-size:16px;
    text-transform: uppercase;
    color: #ffff;
    margin-top: 8px;
}
.continent-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.continent .grow{
    padding: 5px 0;
}
.grow .active{
    background-color: #C66995;
}
.continent .grow:hover{
    background-color: #C66995;
}
/* RECOMMENED PLACE*/
.recommented-place{
    padding: 20px 0;
    
}
.recommended-item{
   max-width:900px;
   margin: 0 auto;
   background-color: #69C6BA; 
   margin-top: 32px;
  
}

/* .recommended-item img{
  width:100%;
  font-size: 0;
} */
.item-stretch{
    align-items: stretch;
}
.recommended-item-content{
  padding: 32px;
  background-color: #fff;
  position: relative;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px ;
}
.btn-curve{
  position: absolute;
  right: -15px;
  top: 0;
  height:100%;
}
.recommended-item-content h5{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.recommended-item-content h6{
    font-size: 14px;
    font-weight: 600;
    color: #C66995;
    margin-bottom: 12px;
}
.recommended-item-content p{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}
.pricing h4{
    font-size: 32px;
    font-weight: 400;
    color: #fff;
}
.pricing a{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #ffff;
    text-decoration: none;
    margin-top: 10px;
}
.flex-30{
    flex: 0 1 30%;
    font-size:0px;
}
.flex-50{
    flex: 0 1 50%;
}
.flex-20{
   flex: 0 1 20%;
}
.recommended-btn{
    text-align: center;
    margin-top: 32px;
}
/* CONTACT*/
.contact{
    position: relative;
}
.contact iframe{
    width: 100%;
}
.contact form{
    position: absolute;
    top: 0;
    right: 88px;
    z-index: 2;
    width:45%;
    margin-top: 20px;
}
.overlay{
    position: relative;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(0,0,0,0.6);
}
.submit-btn{
    width:100%;
}
.name-email{
    margin-right: 10px;
}
.form-control{
    background-color: #F5F5F5;
    padding: 8px;
    margin-bottom: 12px;
    border: 0;
    width:100%;
    border: 1px solid transparent;
}
.btn-submit{
    width:100%;
    margin-top:24px;
}
.form-control:focus{
    border: 1px solid blue;
}
fieldset{
    background-color: #fff;
    padding:10px;
}
/* FOOTER */
.footer{
    background-color: #69C6BA;
    padding: 50px 0;
    text-align: center;
}
.footer-small small{
text-transform: capitalize;
}
